# Renesas HS300x temperature and humidity sensor configuration options

# Copyright (c) 2023 Ian Morris
# SPDX-License-Identifier: Apache-2.0

config HS300X
	bool "HS300x Temperature and Humidity Sensor"
	default y
	depends on DT_HAS_RENESAS_HS300X_ENABLED
	select I2C
	help
	  Enable driver for HS300x temperature and humidity sensors.

if HS300X

config HS300X_GPIO_POWER
	bool "HS300x GPIO Power"
	default n
	help
	  HS300x is powered via a GPIO, allowing measurement resolution to be configured.

endif #HS300X