/*
 * Copyright (c) 2025 Renesas Electronics Corporation
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/*
 * This file is intentionally empty.  Please refer to the documentation
 * for instructions on using this shield.
 */
